@page "/"

<PageTitle>URL Shortener</PageTitle>

<h1>URL Shortener</h1>
<div>
    <p>
    Welcome to the <b>URL Shortener</b>
    </p>

    <div>
    <p><b>URL Manager</b> - customize, share, and track links</p>
    
    <p><b>Click Statistics</b> - Track and analyze the performance of all short links</p>
    </div>

    <div style="align-content: right;"><img class="mainLogo" style="width: 100%;height: auto" src="/images/TinyBlazorAdmin.png" /></div>
</div>
